/* Style Sheet for Website */


header {
  color: #6b2121;
  text-align: center;
}
/* Make the color of links clicked and unclicked the #6b2121 same */
/* Create a background for nav bar */
.topNav {
  background-color: #b38b6d;
  float: center;
  text-align: center;
  padding: 14px 16px;
  overflow: hidden;
}
a {
  font-size: 24px;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
}
a:link {
  color: #6b2121;
}

a:visited {
  color: #faf0e6;
}
/* Test the background of the body as blue*/

body {
  background-color: #faf0e6;
}

form {
  text-align: center;
}

.message {
  height: 300px;
  width: 500px;
  text-align: top-left;
}

.coverPhoto {
  width: 400px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
